* {
    margin:0;
    font-family: 'Rubik', sans-serif;
}

.main {
    display:flex;
    height:90vh;
    scroll-margin-top: 6rem
}

.imageSize {
    height:100%;
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pokemonLogo {
    max-width: 100%;
    max-height: 100%;
}

.pokemonImageCard {
    max-width: 100%;
    max-height: 100%;
    
}


.boxSize {
    height:7.5%;
    width:7.5%;
    cursor:pointer;
    
}

.boxSize:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.SearchDiv {
    width:20vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokemonNavbar{
    height:10vh;
    position: sticky;
    top:0;
    background-color:red;
    margin: 0;
    display:flex;
    justify-content:space-between;
}

.selectGenerationStyle {
    height:100%;
    width:20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.containerStyle {
    width:60vw; 
    display:flex;
    flex-direction: column;
}

.titleGeneration {
    width:100%;
    height:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Pokemon';
    font-size: 350%;
}

.pokemonPlacers {
    width:100%;
    height:90%;
    display:flex;
    flex-wrap:wrap;
    align-self:flex-start;
    align-items: flex-start;
    align-content:flex-start;
}

.pokemonInfo {
    margin: 0;
    width:40vw;  
    background-position: top;
    display:flex;
    justify-content: center;
    align-items: center;
}

.pokemonTypeLogo {
    border-radius:15px;
    max-width: 35%;
    max-height:35%;
    padding:0.1vh;
    cursor:pointer;
}

.searchButton {
    border-radius:15px;
    max-width: 35%;
    max-height:35%;
    cursor:pointer;
}

.searchButton:hover {

    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.typesContainer {
    height:100%;
    width:18%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;

}

.pokemonCardInfo {
    height:75vh;
    width:20vw;
    border:2px solid black;
    border-radius:30px;
    background-color:white;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;   
}

.inside {
    height:20%;
    width:100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid black;
}


.imageSideCard {
    height:40%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.title {
    width:100%;
    height:30%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.name {
    height:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.typesDiv {
    display:flex;
    width:80%;
    justify-content: space-around;
    align-items: center;
}


.type {
    border:1px solid black;
    border-radius:10px;
    padding-left:1vw;
    padding-right: 1vw;
    padding-top:0.3vh;
    padding-bottom: 0.3vh;

}

.logoSideCard {
    max-width: 50%;
    max-height: 50%;
}

.pokeballMoreInfo {
    max-width: 35%;
    max-height: 35%;
    cursor:pointer;
}

.pokeballMoreInfo:hover {

    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.findMoreStyle {
    height:80%;
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.highlighted {
    border:3.5px solid white;
    border-radius:40px;
}

.containerProfilePage {
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleProfilePage {
    width:100%;
    height:10%;
    text-align:center;
}

.imageSlotProfilePage {
    width:50%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.resize {
    max-width: 70%;
    max-height: 70%;
}

.bioStyle {
    width:100%;
    height:5%;
    color:grey;
    font-style:italic;
    text-align:center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.statsDivStyle {
    width:33%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:1px solid black;
}

.marginTop {
    margin-bottom:5vh;
}

.moveSetDiv {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right:1px solid black;
}

.bottomContainerStyle {
    width:100%;
    height:35%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid black;
}



.moveSetDiv {
    width:33%;
    height:100%;
}

.pokemonInfoDivStyle {
    width:33%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loadingGifContainer {
    display:flex;
    justify-content: center;
    align-items: center;
}

.errorImage {
    display:flex;
    justify-content: center;
    align-items: center;
}

.mainForm {
    height:90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.formStyle {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divMidSectionStyle {
    height:50%;
    width:100%;
    display:flex;
}

.formCommentStyle {
    height:100%;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left:1px solid black;
}

.commentsStyle{
    display:flex;
    justify-content: center;
    align-items: center;
}

.testDelete{

    cursor:pointer;
    
}

.editAndDeleteDivStyle {
    width:100%;
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-top:1px solid black;
}